.user-container {
  padding: 10px;
  margin-bottom: 15px;
  background: #add8e63b;
  border: 1px solid lightgrey;
  .label {
    display: block;
    margin: 4px 0 1px;
  }
  p {
    margin-bottom: 7px;
  }
}
