.node-rows {
  display: block;
  .row {
    border: 1px solid lightblue;
    padding: 15px;
    margin-bottom: 25px;
    -webkit-box-shadow: 0px 0px 11px 0px rgba(161, 161, 161, 1);
    -moz-box-shadow: 0px 0px 11px 0px rgba(161, 161, 161, 1);
    box-shadow: 0px 0px 11px 0px rgba(161, 161, 161, 1);
    >div {
      margin: 4px 0 9px;
    }
    .label {
      width: 100%;
      font-weight: bold;
      font-size: 100%;
      margin-bottom: 10px;
    }
    .dog-picture img {
      max-width: 250px;
    }
    p.label {
      margin: 0.8em 0;
    }
    >.update-node {
      background: #efefef;
      padding: 10px;
      border: 1px dotted #d3d3d3;
      float: left;
      margin: 18px 1%;
      min-width: 98%;
    }
  }
  .existing-node {
    >div {
      margin-bottom: 8px;
      margin-bottom: 8px;
    }
  }
  img {
    max-width: 400px;
    display: inline-block;
  }
}

.form-errors {
  color: rgb(220, 53, 69);
}

.errors {
  input[type="submit"] {
    float: none !important;
  }
}

input[type="submit"],
input[type="button"] {
  border: 1px solid lightblue;
  background: rgb(40, 167, 69);
  padding: 10px;
  color: #fefefe;
  cursor: pointer;
  font-weight: bold;
  transition: all 0.5s;
  border-radius: 3px;
  &:hover {
    background: rgba(40, 167, 69, .8);
  }
}

.messages {
  position: fixed;
  background: rgba(0, 0, 0, .6);
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  .message-inner {
    background: white;
    position: fixed;
    padding: 50px;
    width: 50vw;
    left: 25vw;
    top: 40vh;
    text-align: center;
  }
}

.image-preview {
  float: left;
  text-align: left;
  border-left: 1px dotted #a9a9a9;
  margin-left: 30px;
  padding-left: 30px;
}

.img-preview {
  display: block;
  float: left;
  >div:first-child {
    float: left;
  }
}

.submit-node {
  padding: 10px 0;
  display: block;
  float: left;
  width: 100%;
}

hr.separator {
  clear: both;
  max-width: 100%;
  height: 20px;
}
